name: test

on:
  push:
    branches: ["main", "dev/*"]
  pull_request:
    branches: ["main"]
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24.x'

      - name: Install dependencies
        run: |
          go get .

#      - name: Build
#        run: go build -v ./...

      - name: Test
        run: go test -v ./...
